:root {
    --main-red: #901c1c;
    --secondary-red: #d3573c;
    --third-red: #db806c;
    --main-black: #312e2e;
    --main-grey: #fafafa;
}

body {
    font-family: "DM Sans", sans-serif;
    padding: 0px 10px 0px 10px;
}

/********************************************************************* COMBINED SELECTORS */

body,
.photographer_section article p,
.photographer_section article h2,
.banner-container>.left-column h1,
.photographerBanner_location,
.photograph-header,
.header_form>div>h2,
.header_form>div>p,
.home_h1 {
    margin: 0;
}

.home_h1,
.photographer_location,
.photographerBanner_location,
.photographer_media_title,
.photographer_media_likes,
.lightbox-close-button,
.lightbox-previous-button,
.lightbox-next-button {
    color: var(--main-red);
}

.photographer_section article h2,
.banner-container>.left-column h1 {
    color: var(--secondary-red);
}

.photographer_tagline,
.photographer_section article h2,
.home_h1 {
    text-align: center;
}

.photographer_section article img,
.banner-container>.right-column img,
#media-list img,
#media-list video {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.photographer_section article img,
.banner-container>.right-column img {
    border-radius: 50%;
}

.photographer_section article h2,
form label {
    font-size: 36px;
}

form input,
.contact_button,
.send_button,
#message,
.lightbox-close-button,
.lightbox-previous-button,
.lightbox-next-button {
    border: none;
}

form input,
.contact_button,
.send_button,
.modal,
#message,
.sorting-options,
#dropdown-options {
    border-radius: 5px;
}

.modal header img,
.contact_button,
.send_button,
#selected-option,
.lightbox-close-button,
.lightbox-previous-button,
.lightbox-next-button {
    cursor: pointer;
}

.left-column,
.middle-column,
.right-column,
.modal,
form,
form div,
.photographer-card a,
.photographer_section article,
header,
.media-card,
.info-div,
.photographer-info-box,
#selected-option,
#sorting-controls,
.lightbox-overlay,
.lightbox-container {
    display: flex;
}

.left-column,
.middle-column,
.right-column,
.modal,
form,
form div,
.photographer-card a,
.photographer_section article,
.media-card {
    flex-direction: column;
}

header,
.photographer_section article,
.photographer-card a,
.right-column,
.middle-column,
.banner-container,
.modal,
.media-card,
#selected-option,
#sorting-controls,
.lightbox-overlay {
    align-items: center;
}

.modal,
.modal header,
header,
.info-div,
#selected-option {
    justify-content: space-between;
}

.modal header,
form,
form div,
form input,
.info-div,
div#contact_modal,
#media-list img,
#media-list video,
#message,
.modal,
.lightbox-container,
.lightbox-container img,
.click-overlay,
.lightbox-container>.video-wrapper>video,
.video-wrapper {
    width: 100%;
}

.left-column,
.middle-column,
.right-column {
    padding: 15px;
}

.banner-container,
.photographer_section,
#media-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact_button,
.send_button,
.photographer_tagline,
.photographer_media_title,
.photographer_media_likes,
#selected-option-label,
.photographer-info-box p {
    font-weight: bold;
}

.contact_button,
.send_button,
#selected-option,
.sorting-option a {
    color: white;
}

.contact_button,
.send_button {
    font-size: 20px;
    padding: 11px;
    width: 170px;
    height: 70px;
    background-color: var(--main-red);
}

.photographer_media_title,
.photographer_media_likes {
    font-size: 18px;
}

.header_form>div>p,
.modal header h2 {
    font-size: 55px;
}

#media-list img,
#media-list video {
    height: 350px;
}

.logo,
#main {
    margin-left: 100px;
}

.home_h1,
#main {
    margin-right: 100px;
}

form input,
.logo {
    height: 50px;
}


form input,
#message {
    font-size: 30px;
}

.photographer-info-box,
#contact_modal,
.lightbox-overlay {
    position: fixed;
}

.photographer-info-box,
.modal,
.contact_button:hover,
.send_button:hover {
    background-color: var(--third-red);
}

#contact_modal,
.photographer_section article,
.lightbox-container {
    justify-content: center;
}

.sorting-options,
#dropdown-options {
    background: var(--main-red);
    width: 120px;
}

.hidden,
#contact_modal {
    display: none;
}

.photographer-card a,
.sorting-option a {
    text-decoration: none;
}

.sorting-option a,
#selected-option {
    padding: 10px;
}

#contact_modal,
#dropdown-options,
.lightbox-overlay,
.click-overlay {
    top: 0;
}

#contact_modal,
.lightbox-overlay,
.click-overlay,
.lightbox-previous-button {
    left: 0;
}

.lightbox-overlay,
.photographer-info-box {
    bottom: 0;
}

#sorting-controls,
#selected-option,
.video-wrapper,
.lightbox-container>.video-wrapper>video {
    position: relative;
}

#sorting-controls,
.modal {
    margin: 10px 0px 10px 0px;
}

.photograph-header,
#contact_modal,
.lightbox-overlay {
    background-color: white;
}

.contact_button:hover,
.send_button:hover,
.photographer-info-box {
    color: black;
}

.contact_button:hover,
.send_button:hover,
.contact_button,
.send_button {
    transition: 0.3s;
}

.lightbox-close-button,
#dropdown-options,
.click-overlay,
.lightbox-previous-button,
.lightbox-next-button {
    position: absolute;
}

.lightbox-container,
.modal {
    padding: 75px;
}

.click-overlay,
#contact_modal {
    height: 100%;
}

.lightbox-container img,
.lightbox-container>.video-wrapper>video {
    height: 100%;
    max-height: 800px;
}

.lightbox-close-button,
.lightbox-previous-button,
.lightbox-next-button {
    background: none;
    font-size: 120px;
}

.lightbox-previous-button,
.lightbox-next-button {
    top: 50%;
    transform: translateY(-50%);
}

.lightbox-next-button,
.lightbox-overlay {
    right: 0;
}

.lightbox-previous-button,
.lightbox-next-button,
.lightbox-close-button {
    z-index: 100;
}

/********************************************************************* SINGLE SELECTOR */

#message {
    height: 150px;
}

#media-list {
    gap: 100px;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-container {
    background-color: var(--main-grey);
}

.logo {
    margin-top: 20px;
}

.banner-container>.left-column h1 {
    font-size: 56px;
}

.photographer_section {
    gap: 70px;
    margin-top: 100px;
    align-items: start;
}

.photographer_section article {
    justify-self: center;
}

#contact_modal {
    z-index: 9999;
}

.modal {
    max-width: 700px;
    overflow-y: auto;
}

.modal header h2 {
    font-weight: normal;
}

form {
    align-items: flex-start;
}

form label {
    color: var(--main-black);
}

form div {
    align-items: self-start;
    margin-bottom: 26px;
}

.photographerBanner_location {
    font-size: 26px;
}

.photographer-info-box p {
    font-size: 24px;
}

.photographer-info-box p {
    margin: 0px;
}

.photographer-info-box {
    right: 20px;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
    padding: 15px 45px;
}

#selected-option-label {
    margin-right: 7px;
}

#selected-option {
    z-index: 2;
}

#selected-option::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-135deg);
}

#selected-option.open::after {
    transform: rotate(45deg);
}

#dropdown-options {
    z-index: 1;
}

.sorting-option {
    border-bottom: solid 1px white;
}

.sorting-option:last-child {
    border-bottom: none;
}

.sorting-option a {
    display: block;
}

.lightbox-overlay {
    z-index: 1000;
}

.lightbox-close-button {
    top: 5px;
    right: 5px;
    line-height: 0.6;
    padding: 0;
}

.lightbox-container img {
    object-fit: contain;
}

.lightbox-container>.video-wrapper>video {
    z-index: 3;
}

/********************************************************************* MEDIA QUERIES */

@media (max-width: 1240px) {
    #media-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (max-width: 1064px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }

    .home_h1,
    #main {
        margin-right: 50px;
    }

    .logo,
    #main {
        margin-left: 50px;
    }
}

@media (max-width: 1024px) {
    .banner-container {
        grid-template-columns: 1fr;
    }

    .left-column h1,
    .left-column p {
        text-align: center;
    }

    .photographerBanner_tagline {
        margin-bottom: 0;
    }

    .middle-column {
        order: 3;
        padding-bottom: 30px;
    }
}

@media (max-width: 880px) {
    #media-list {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media (max-width: 700px) {
    .photographer_section {
        grid-template-columns: 1fr;
    }

    .banner-container>.left-column h1 {
        font-size: 36px;
    }

    .banner-container>.right-column img {
        height: 150px;
        width: 150px;
    }

    .contact_button,
    .send_button {
        height: 50px;
    }

    .header_form>div>p,
    .modal header h2 {
        font-size: 35px;
    }
}

@media (max-width: 640px) {
    .home_h1 {
        font-size: 26px;
    }

    .logo,
    .home_h1 {
        margin: 0;
    }

    .logo {
        height: 40px;
    }

    header {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
    }

    header.header_form {
        margin-top: initial;
        flex-direction: initial;
        gap: initial;
    }

    #main {
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media (max-width: 500px) {
    .modal header img {
        position: absolute;
        top: 30px;
        right: 20px;
        height: 30px;
    }

    header.header_form>div {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .modal header {
        justify-content: center;
    }

    .header_form>div>p,
    .modal header h2 {
        font-size: 32px;
        text-align: center;
    }

    form label {
        font-size: 26px;
    }
}

@media (max-width: 375px) {
    .photographer-info-box {
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }

    .photographer-info-box p {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 320px) {

    #media-list img,
    #media-list video {
        height: 270px;
    }
}